/* Fonts */
@font-face {
	font-family: "Cocogoose-Narrow-Letterpress-trial";
	src: 	url("/static/fonts/Cocogoose-Narrow-Letterpress-trial.ttf")
			format("TrueType");
}

@font-face {
	font-family: "Cocogoose-Condensed-Letterpress-trial";
	src: 	url("/static/fonts/Cocogoose-Condensed-Letterpress-trial.ttf")
			format("TrueType");
}

@font-face {
	font-family: "CrispyCream3D-9YgR0";
	src: 	url("/static/fonts/CrispyCream3D-9YgR0.otf")
			format("OpenType");
}

@font-face {
	font-family: "SweetLove-DOK99";
	src: 	url("/static/fonts/SweetLove-DOK99.otf")
			format("OpenType");
}

@font-face {
	font-family: "digital-7";
	src: 	url("/static/fonts/digital-7.ttf")
			format("TrueType");
}

@font-face {
	font-family: "Asap-Bold";
	src: 	url("/static/fonts/Asap-Bold.otf")
			format("OpenType");
}

@font-face {
	font-family: "Asap-Regular";
	src: 	url("/static/fonts/Asap-Regular.ttf")
			format("OpenType");
}

/* Base Styles */
body {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	background: url("/static/wallpapers/g-blackwhite.avif") no-repeat center center fixed;
	background-size: cover;
}

/* Wallpapers/Background Images */
.brickwall {
	max-width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	box-sizing: border-box;
	outline-width: 5px;
	position: relative;
	background-blend-mode: hard-light;
	background-color: #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background-image: url("/static/wallpapers/brickwall.webp");
	box-shadow: inset 3vw 0px 1vw -1vw rgba(0, 0, 0, 0.11),
		        inset -3vw 0px 1vw -1vw rgba(0, 0, 0, 0.11);
}

.concrete {
	max-width: 800px;
	width: 100%;
	margin: 20px auto;
	box-sizing: border-box;
	position: relative;
	word-wrap: break-word;
	overflow: hidden;
	border-radius: 5px;
	border-style: inset;
	border-color: #1b645e;
	background-color: #000000ea;
	background-image: url("/static/wallpapers/concrete-wall-2.png");
	background-size: 300px;
	box-shadow: inset -1vw 0.5vw 0.5vw -0.5vw rgba(0, 0, 0, 0.5), /* Left shadow */
                inset 1vw -0.5vw 0.5vw -0.5vw rgba(0, 0, 0, 0.5), /* Right shadow */
                inset 0.5vw 1vw 0.5vw -0.5vw rgba(0, 0, 0, 0.5), /* Bottom shadow */
                inset -0.5vw -1vw 0.5vw -0.5vw rgba(0, 0, 0, 0.5); /* Top shadow */
}

.item-container {
	max-width: 800px;
	width: 100%;
	margin: 20px auto;
	padding: 10px;
	border-radius: 5px;
	border-style: inset;
	border-color: #000;
	background: #0000004d; /* Transparent Style */
}

.leather {
	max-width: 100%;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fff;
	border: outset #bf9b30;
	background-image: url("/static/wallpapers/leather_1.png");
}

/* Buttons */
/* Green Button */
.green-button {
	font-family: "Cocogoose-Narrow-Letterpress-trial", "Sans-Serif";
	border-radius: 5px;
	color: #fff;
	background-color: #3a3939;
	box-shadow: 1px 2px 0px 0px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.green-button:hover {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Green Small Button */
.green-small-button {
	font-family: "Cocogoose-Narrow-Letterpress-trial", "Sans-Serif";
	border-radius: 5px;
	color: #fff;
	background-color: #3a3939;
	box-shadow: 1px 2px 0px 0px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.green-small-button:hover {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Button 1 */
.button-1 {
	font-family: "Cocogoose-Condensed-letterpress-trial", "Sans-Serif";
	text-decoration: none;
	border-radius: 5px;
	color: #fff;
	background-color: #3a3939;
	box-shadow: 1px 2px 0px 0px#E44C9F;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.button-1:hover {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Red Button */
.red-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	background-color: #3a3939;
	box-shadow: 1px 2px 0px 0px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.red-button:hover {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #ff0000;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Form Styles */
.form-control {
	border-radius: 0px;
	border: none;
	outline: none;
	background-color: #fff;
}

.form-title {
	font-family: "Cocogoose-Condensed-letterpress-trial", "Sans-Serif";
	text-align: center;
	color: #000;
}

.form-label {
	margin: 5px 0px 0px 0px;
	font-family: "Asap-Bold", "Sans-Serif";
}

.form-button-container {
	margin-top: 10px;
	text-align: center;
}

/* ID used due to class cant change the default field styles */
#id_first_name,
#id_last_name,
#id_email,
#id_username,
#id_password,
#id_current_password,
#id_new_password,
#id_confirm_password {
	width: 100%;
	border: none;
}

#id_first_name:focus,
#id_last_name:focus,
#id_email:focus,
#id_username:focus,
#id_password:focus,
#id_current_password:focus,
#id_new_password:focus,
#id_confirm_password:focus,
#id_title:focus,
#id_content:focus,
#id_img:focus {
	outline: none;
	box-shadow: 0px 0px 3px #01f16d;
}

/* Profile Picture */
.profile-picture-container {
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	display: block;
    text-align: center;
}

.profile-picture {
    width: 100%;
    height: auto;
	margin: 0 auto;
    object-fit: cover;
    border: outset #3a3939;
    display: block;
}

/* POSTWALL.HTML */
/* Container for a post incl. title, image, content, meta */
.polaroid {
	max-width: 100%;
	box-sizing: border-box;
	word-wrap: break-word;
	overflow: hidden;
	border-style: outset;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-color: #1b645e;
	background-color: #fff9ef;
	box-shadow: -0.5vw 0.25vw 0.25vw -0.25vw rgba(0, 0, 0, 0.5),
                0.5vw -0.25vw 0.25vw -0.25vw rgba(0, 0, 0, 0.5),
		        0.25vw 0.5vw 0.25vw -0.25vw rgba(0, 0, 0, 0.5),
		        -0.25vw -0.5vw 0.25vw -0.25vw rgba(0, 0, 0, 0.5);
}

/* Post Title Style */
.postwall-title {
	font-family: "CrispyCream3D-9YgR0", "Sans-Serif";
	text-align: center;
}

/* Link to Post Details for specific Post */
.postwall-link-container {
	position: relative;
}

.postwall-link {
	margin: 0 auto;
	padding: 8px 4px;
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.postwall-link:hover {
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: none;
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	transform: scaleX(-1);
}

/* Uploaded Post Image */
.postwall-image-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 100%;
    max-height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postwall-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    object-fit: contain;
}

/* Uploaded Post Content */
.postwall-content {
	padding: 5px;
	font-family: "SweetLove-DOK99", "Sans-Serif";
	text-align: center;
}

/* Meta when uploading a Post */
.postwall-meta {
	margin-top: 1vh;
	font-family: "digital-7", "Sans-Serif";
	text-align: center;
}

/* Container for comments for each Post */
.postwall-comments-container {
	margin-top: 1vh;
	border-radius: 5px;
	background-color: #2f3d3ca9;
	box-sizing: border-box;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Header for comments container */
.postwall-comments-header {
	padding: 10px;
	font-family: "Cocogoose-Condensed-letterpress-trial", "Sans-Serif";
	text-align: center;
	color: #fff;
}

/* Comment styles */
.postwall-comments-ul {
	margin: 0px;
	padding: 0px;
	font-family: "Asap-Regular", "Sans-Serif";
	list-style: none;
}

.postwall-comments-li {
	padding-left: 5px;
	list-style: none;
	background-color: #fff9ef;
	border-color: #192221;
	border-left: 2px solid #192221;
	border-right: 2px solid #192221;
	border-bottom: 2px solid #192221;
}

/* 1. Needed to avoid double border */
.postwall-comments-li:last-child {
	border-bottom: none;
}

/* 2. Needed to avoid double border */
#id_textarea {
	border: 2px solid #192221;
}

.postwall-form-container {
	padding-bottom: 15px;
}

/* Style/remove default css */
.postwall-form-container textarea {
	margin: 0px;
	width: 100%;
	padding-left: 5px;
	font-family: "Asap-Regular", "Sans-Serif";
	outline: none;
	border: none;
	resize: none;
	box-sizing: border-box;
	border-radius: 0px;
	background-color: #fff9ef;
}

.postwall-form-container textarea::placeholder {
    padding-left: 3px;
    font-family: "Asap-Bold";
    color: #a0176b;
}

.postwall-form-button-container {
	margin-top: 10px;
	text-align: center;
}

/* RESET_PASSWORD.HTML */
.reset_password_guide {
	font-family: "Asap-Bold", "Sans-Serif";
	color: #000;
}

/* LOGIN.HTML */
/* "Forgot your Password?" */
.smal-text {
	font-family: "Asap-Regular", "Sans-Serif";
	text-decoration: none;
	color: #000;
}

.smal-text:hover {
	font-family: "Asap-Bold", "Sans-Serif";
	text-decoration: underline;
	color: #000;
}

/* "Dont have an Account..." */
.account-container {
	margin-top: 10px;
	font-family: "Asap-Bold", "Sans-Serif";
	text-align: center;
	color: #fff;
}

.account {
	border-radius: 5px;
	font-family: "Cocogoose-Condensed-letterpress-trial", "Sans-Serif";
	text-decoration: none;
	color: #fff;
	text-shadow: 0px 0px 10px #01f16d;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.account:hover {
	color: #01f16d;
	text-shadow: 0px 0px 10px #fff;
	transform: translateY(2px);
}

/* POST.HTML */
.post-header {
	font-family: "Cocogoose-Condensed-letterpress-trial", "Sans-Serif";
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

/* Container for creating a Post */
.post-form-container {
	border-radius: 5px;
	border-style: outset;
	border-color: #1b645e;
	background-image: url("/static/wallpapers/leather_1.png");
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.post-form-label {
	font-family: "Asap-Bold", "Sans-Serif";
	color: #fff;
}

/* Container for the Post Button */
.post-form-button-container {
	margin-top: 15px;
	text-align: center;
}

/* POST_DETAIL.HTML */
/* Container for Post content */
.post_detail-container {
	border-radius: 5px;
}

/* Post Title */
.post_detail-title {
	font-family: "CrispyCream3D-9YgR0", "Sans-Serif";
	text-align: center;
}

/* Image Container */
.post_detail-image-container {
	text-align: center;
}

/* Post Content */
.post_detail-content {
	margin-top: 10px;
	font-family: "Asap-Regular", "Sans-Serif";
	text-align: center;
	white-space: normal;
	word-wrap: break-word;
	color: #000;
}

/* Post Meta */
.post_detail-meta {
	font-family: "Asap-Regular", "Sans-Serif";
	text-align: center;
	color: #000;
}

/* Comments Container */
.post_detail-comments-container {
	border-color: #2f3d3ca9;
}

/* Comments Header Container */
.post_detail-comments-header {
	font-family: "Asap-Bold", "Sans-Serif";
	border-radius: 5px 5px 0px 0px;
	background-color: #2f3d3ca9;
}

/* Comment Styles */
.post_detail-comments {
	list-style-type: none;
}

.post_detail-comments-ul {
	margin: 0px;
	padding-left: 0px;
	font-family: "Asap-Regular", "Sans-Serif";
	border-radius: 0px 0px 5px 5px;
	border: 6px solid #2f3d3ca9;
}

.post_detail-comments-li {
	list-style: none;
	background-color: #fffffffd;
	border-top: 6px solid #2f3d3ca9;
}

.post_detail-comments-li:first-child {
	border-top: none;
}
/* "No comments" */
.post_detail-no-comments {
	padding-left: 5px;
	background-color: #FFF;
	list-style-type: none;
}

/* Delete Post Container */
.post_detail-delete-post-container {
	position: relative;
}

/* Delete Post Button Container */
.post_detail-delete-post-button {
	margin: 0 auto;
	position: absolute;
	right: 10px;
	z-index: 1;
	border: none;
	color: #000;
	background: none;
	transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.post_detail-delete-post-button:hover {
	color: red;
	transform: scaleX(-1);
}

/* Delete Confirmation Container */
#delete-confirmation-container {
	font-family: "Asap-Regular", "Sans-Serif";
	text-align: center;
	display: none;
	border-radius: 5px;
	position: absolute;
	left: 75%;
	z-index: 1000;
	color: #fff;
	background-color: #2f3d3ca9;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.808);
	transform: translateX(2px);
}

.delete-confirmation-button-container {
	font-family: "Cocogoose-Condensed-Letterpress-trial", "Sans-Serif";
	display: flex;
	gap: 10px;
	justify-content: center;
}

/* Delete Comment Container */
.post_detail-delete-comment-container {
	float: right;
	position: relative;
	right: 5px;
}

/* Delete Comment */
.post_detail-delete-comment {
	margin: 0 auto;
	z-index: 1;
	border: none;
	color: #000;
	background: none;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.post_detail-delete-comment:hover {
	color: red;
	animation: shake 0.5s ease;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5px);
	}
	50% {
		transform: translateX(5px);
	}
	75% {
		transform: translateX(-5px);
	}
}

/* DASHBOARD_SIDEBAR.HTML */
.sidebar-ul {
	padding: 0px;
	font-family: "Cocogoose-Condensed-letterpress-trial";
	list-style: none;
}

/* Sidebar Items: Dashboard, Edit_profile, Change_password */
.sidebar-item {
	margin: 0;
	padding: 10px;
	display: flex;
	text-decoration: none;
	border: none;
	color: #fff;
	background-color: #3a3939;
	box-shadow: 1px 2px 0px 0px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

/* Hover and active state styles */
.sidebar-item:hover,
.sidebar-item:focus,
.sidebar-item.active {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* 1. Dashboard (Top Rounded Corners) */
#item-dashboard {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#item-dashboard:hover,
#item-dashboard:focus,
#item-dashboard.active {
    box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.5); /* Bottom Shadow */
}

/* 2. Edit Profile (Top and Bottom Shadows) */
#item-edit_profile:hover,
#item-edit_profile:focus,
#item-edit_profile.active {
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.5), /* Top Shadow */
                inset 0px -5px 5px 0px rgba(0, 0, 0, 0.5); /* Bottom Shadow */
}

/* 3. Change Password (Bottom Rounded Corners) */
#item-change_password {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#item-change_password:hover,
#item-change_password:focus,
#item-change_password.active {
    box-shadow: inset 0px 5px 5px 0px rgba(0, 0, 0, 0.5); /* Top Shadow */
}

/* Container for Logout button */
.sidebar-logout-button-container {
	text-align: center;
}

/* Logout button */
.sidebar-logout-button {
	display: block;
	padding: 10px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	background-color: #3a3939;
	box-shadow: 1px 2px 0px 0px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.sidebar-logout-button:hover {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #ff0000;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Style for labels */
.dashboard-text {
	text-align: center;
	font-family: "Asap-Bold", "Sans-Serif";
}

/* SEARCH_RESULTS.HTML */
.search_results-container-all {
	margin: 40px auto;
	padding: 10px;
	max-width: 500px;
	background-color: #3a3939;
	border-radius: 5px;
}

/* Search Results Header - Styles */
.search_results-header-container {
	font-family: "Cocogoose-Condensed-Letterpress-trial", "Sans-Serif";
	text-align: center;
}

.search_results-header {
	color: #e44c9f;
}

/* Search Results Keyword - Styles */
.search_results-keyword-container {
	font-family: "Cocogoose-Condensed-Letterpress-trial", "Sans-Serif";
	text-align: center;
}

.search_results-keyword {
	color: #FFF;
}

/* Search Results List - Styles */
.search_results-list-container {
	align-items: center;
	margin: 0 auto;
	max-width: 300px;
	border-radius: 5px;
	text-align: center;
	background-color: #5f5e5e;
}

.search_results-ul {
	padding: 5px;
	font-family: "Asap-bold", "Sans-Serif";
	list-style: none;
}

.search_results-li:hover {
	background-color: #5f5e5e;
}

.search_results-li a {
    text-decoration: none;
	color: #FFF;
}

.search_results-li a:hover {
    text-decoration: none;
	color: #01f16d;
	background-color: #5f5e5e;
}

/* Styles for Footer.html */
.developer {
	margin: 0 auto;
	outline-width: 5px;
	position: relative;
	font-family: "Cocogoose-Narrow-Letterpress-trial", "Sans-Serif";
	text-align: center;
	color:#00000041;
    text-shadow: 2px 1px 1px#fff;
	background-blend-mode: hard-light;
	background-color: #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	background-image: url("/static/wallpapers/brickwall.webp");
	box-shadow: inset 3vw 0px 1vw -1vw rgba(0, 0, 0, 0.11),
		        inset -3vw 0px 1vw -1vw rgba(0, 0, 0, 0.11);
}

/* Styles for Alerts.html */
.alert-c {
    padding: 10px;
	font-family: "SweetLove-DOK99", "Sans-Serif";
	font-size: 20px;
	text-align: center;
    position: fixed;
    top: 100px;
    left: 50%;
    z-index: 1050;
    opacity: 1;
    transition: opacity 2s linear;
    transform: translateX(-50%);
}

.alert.fade-out {
    opacity: 0;
}

/* Responsive Settings - Small Screens */
@media (max-width: 768px) {
	/* Base */
	.brickwall {
		padding: 50px 20px;
	}

	.concrete {
		padding: 5px;
	}

	/* Postwall.html */
	.postwall-title {
		font-size: 30px;
	}

	.postwall-link {
		font-size: 10px;
	}

	.postwall-content {
		font-size: 16px;
	}

	.postwall-meta {
		font-size: 14px;
	}

	.postwall-comments-header {
		font-size: 20px;
	}

	.green-button {
		font-size: 22px;
	}

	.postwall-comments-ul,
	.postwall-form-container textarea {
		font-size: 14px;
	}

	/* Post.html */
	.post-header {
		font-size: 30px;
	}

	.post-form-container {
		margin: 20px;
		padding: 10px 40px 20px 40px;
	}

	.post-form-label {
		margin-top: 18px;
		font-size: 18px;
		color: #000;
	}

	.post-form-button-container {
		margin-top: 20px;
	}

	/* Post_detail.html */
	.post_detail-container {
		margin-top: 20px;
	}

	.post_detail-title {
		font-size: 28px;
	}

	.post_detail-image-container {
		text-align: center;
	}

	.post-img {
		border-radius: 5px;
		border-style: inset;
		border-color: #000;
	}

	.post_detail-content {
		font-size: 16px;
		font-family: "Asap-Bold", "Sans-Serif";
	}

	.post_detail-meta {
		font-size: 14px;
		margin-top: 5px;
	}

	.post_detail-comments-container {
		margin-top: 20px;
	}

	.post_detail-comments-header {
		font-size: 18px;
		padding: 5px 0 0 5px;
	}

	.post_detail-comments-li {
		padding-left: 5px;
		font-size: 14px;
	}

	.post_detail-delete-post-container {
		bottom: 32px;
	}

	.post_detail-delete-post-button {
		font-size: 20px;
	}

	#delete-confirmation-container {
		margin-bottom: 5px;
		padding: 5px;
		gap: 5px;
		font-size: 14px;
		font-family: "Asap-Regular", "Sans-Serif";
	}

	/* Dashboard_sidebar.html, Dashboard.html, Edit_profile.html, Change_password.html */
	.sidebar-ul {
		font-size: 20px;
	}

	.profile-picture {
		width: 200px;
		height: auto;
	}

	.dashboard-text {
		margin: 10px 0 10px 0;
		font-size: 20px;
	}

	/* Login.html, Register.html */
	.form-title {
		font-size: 24px;
	}

	.form-label {
		font-size: 16px;
	}

	.account-container {
		margin-top: 5px;
		font-size: 18px;
	}

	.button-1 {
		font-size: 20px;
	}

	/* Login.html */
	.login-container {
		margin: 10px 50px;
	}

	/* Register.html */
	.register-container {
		margin: 10px 50px;
	}

	.smal-text {
		font-size: 16px;
	}

	/* Footer.html */
	.developer {
		font-size: 24px;
	}
}

/* Responsive Settings - Medium Screens */
@media (min-width: 769px) and (max-width: 1200px) {
	/* Base */
	.brickwall {
		padding: 60px 30px;
	}

	.concrete {
		padding: 20px;
	}

	/* Postwall.html */
	.postwall-title {
		font-size: 40px;
	}

	.postwall-link {
		font-size: 14px;
	}

	.postwall-meta {
		font-size: 17px;
	}

	.postwall-content {
		font-size: 20px;
	}

	.postwall-comments-header,
	.green-button {
		font-size: 22px;
	}

	.postwall-comments-ul,
	.postwall-form-container textarea {
		font-size: 16px;
	}

	/* Post.html */
	.post-header {
		font-size: 34px;
	}

	.post-form-container {
		margin: 20px;
		padding: 0 80px 20px 80px;
	}

	.post-form-label {
		margin-top: 16px;
		font-size: 20px;
		color: #000;
	}

	/* Post_detail.html */
	.post_detail-title {
		font-size: 40px;
	}

	.post_detail-image-container {
		text-align: center;
	}

	.post-img {
		border-radius: 5px;
		border-style: inset;
		border-color: #000;
	}

	.post_detail-content {
		font-family: "Asap-Bold", "Sans-Serif";
		font-size: 20px;
	}

	.post_detail-meta {
		margin-top: 5px;
		font-size: 14px;
	}

	.post_detail-comments-container {
		margin: 20px 40px;
	}

	.post_detail-comments-header {
		padding: 5px 0 0 5px;
		font-size: 20px;
	}

	.post_detail-comments-li {
		padding-left: 5px;
		font-size: 16px;
	}

	.post_detail-delete-post-container {
		bottom: 40px;
	}

	.post_detail-delete-post-button {
		font-size: 24px;
	}

	#delete-confirmation-container {
		margin-bottom: 5px;
		padding: 5px;
		gap: 5px;
		font-family: "Asap-Regular", "Sans-Serif";
		font-size: 16px;
	}

	/* Dashboard_sidebar.html, Dashboard.html, Edit_profile.html, Change_password.html */
	.sidebar-ul {
		font-size: 24px;
	}

	.profile-picture {
		width: 200px;
		height: auto;
	}

	.dashboard-text {
		margin: 10px 0 10px 0;
		font-size: 20px;
	}

	.sidebar-logout-button-container {
		margin-top: 110px;
	}

	/* Login.html, Register.html */
	.form-title {
		font-size: 30px;
	}

	.form-label {
		font-size: 18px;
	}

	.account-container {
		margin-top: 15px;
		font-size: 20px;
	}

	.button-1 {
		font-size: 24px;
	}

	/* Login.html */
	.login-container {
		margin: 10px 180px;
	}

	/* Register.html */
	.register-container {
		margin: 10px 180px;
	}

	.smal-text {
		font-size: 18px;
	}

	/* Footer.html */
	.developer {
		font-size: 28px;
	}
}

/* Responsive Settings - Large Screens */
@media (min-width: 1201px) {
	/* Base */
	.brickwall {
		padding-top: 70px;
	}

	.concrete {
		padding: 40px;
	}

	/* Postwall.html */
	.postwall-title {
		font-size: 46px;
	}

	.postwall-link {
		font-size: 16px;
	}

	.postwall-meta {
		font-size: 18px;
	}

	.postwall-content {
		font-size: 22px;
	}

	.postwall-comments-header,
	.green-button {
		font-size: 24px;
	}

	.postwall-comments-ul,
	.postwall-form-container textarea {
		font-size: 18px;
	}

	/* Post.html */
	.post-header {
		font-size: 36px;
	}

	.post-form-container {
		margin: 20px;
		padding: 0 100px 20px 100px;
	}

	.post-form-label {
		margin-top: 20px;
		font-size: 22px;
		color: #000;
	}

	/* Post_detail.html */
	.post_detail-container {
		margin: 35px;
	}

	.post_detail-title {
		font-size: 40px;
	}

	.post_detail-image-container {
		text-align: center;
	}

	.post-img {
		border-radius: 5px;
		border-style: inset;
		border-color: #000;
	}

	.post_detail-content {
		font-family: "Asap-Bold";
		font-size: 24px;
	}

	.post_detail-meta {
		margin-top: 5px;
		font-size: 16px;
	}

	.post_detail-comments-container {
		margin: 20px 60px 0 60px;
	}

	.post_detail-comments-header {
		padding: 5px 0 0 5px;
		font-size: 24px;
	}

	.post_detail-comments-li {
		padding-left: 5px;
		font-size: 18px;
	}

	.post_detail-delete-post-container {
		right: 60px;
		bottom: 40px;
	}

	.post_detail-delete-post-button {
		font-size: 24px;
	}

	#delete-confirmation-container {
		margin-bottom: 5px;
		padding: 5px;
		gap: 5px;
		font-family: "Asap-Regular", "Sans-Serif";
		font-size: 18px;
	}

	/* Dashboard_sidebar.html, Dashboard.html, Edit_profile.html, Change_password.html */
	.sidebar-ul {
		font-size: 24px;
	}

	.profile-picture {
		width: 200px;
		height: auto;
	}

	.dashboard-text {
		margin: 10px 0 10px 0;
		font-size: 20px;
	}

	/* Login.html, Register.html */
	.form-title {
		font-size: 36px;
	}

	.form-label {
		font-size: 20px;
	}

	.account-container {
		margin-top: 25px;
		font-size: 20px;
	}

	.button-1 {
		font-size: 26px;
	}

	/* Login.html */
	.login-container {
		margin: 10px 200px;
	}

	/* Register.html */
	.register-container {
		margin: 10px 200px;
	}

	.smal-text {
		font-size: 18px;
	}

	/* Footer.html */
	.developer {
		font-size: 28px;
	}
}
