{% extends 'base.html' %}

{% block title %} Create New Password {% endblock %}

{% block content %}
<div class="brickwall">
    <div class="concrete">
        <div class="leather">
            {% include 'alerts.html' %}

            <div class="form-title">Create a New Password</div>
                <form action="{% url 'reset_password' uidb64=uidb64 token=token %}" method="POST">
                    {% csrf_token %}

                    <!-- New Password -->
                    <div class="form-group">
                        <label for="new_password">New Password:</label>
                        <input type="password" id="id_new_password" name="new_password"
                            class="form-control"required placeholder="Enter new password"
                            aria-label="New Password"
                        />
                    </div>

                    <!-- Confirm New Password -->
                    <div class="form-group">
                        <label for="confirm_new_password">Confirm New Password:</label>
                        <input type="password" id="id_confirm_new_password"
                            name="confirm_new_password" class="form-control"
                            required placeholder="Confirm new password"
                            aria-label="Confirm New Password"
                        />
                    </div>

                    <!-- Submit Button -->
                    <div class="form-button-container">
                        <button type="submit" class="button-1">Reset Password</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
