{% extends 'base.html' %}
{% load static %}

{% block title %} Postwall - Edit Profile {% endblock %}

{% block content %}
	<div class="brickwall">
		<div class="concrete">
			{% include 'alerts.html' %}
			<div class="row">
				{% include 'dashboard_sidebar.html' %}
				<main class="col-md-7">
					<div class="stroke-5">
						<div class="col-md-12">
							<div class="profile_picture-container">
								{% if user_form.instance.profile_picture %}
									<img
										class="profile-picture"
										src="{{ user_form.instance.profile_picture.url }}"
										alt="Profile Picture"
									/>
								{% else %}
								    <p>No profile picture set.</p>
								{% endif %}
							</div>
							<form method="POST" class="edit_profile-form" action="{% url 'edit_profile' %}"
                                  enctype="multipart/form-data" onsubmit="return validateFileSizeAndResize()">
                                {% csrf_token %}

								<!-- Profile Picture Upload -->
                                <div class="form-group">
                                    <label class="form-label" for="profile_picture">Profile Picture:</label>
                                    <input class="form-control" type="file" id="id_profile_picture" name="profile_picture" accept="image/*" onchange="return validateFileSizeAndResize(event)">
                                </div>
                                <p id="fileSize"></p>

								<!-- First Name Field -->
								<div class="form-group">
									<label class="form-label" for="id_first_name">
										First Name:
									</label>
									<div class="edit_profile-fields">
										{{ user_form.first_name }}
									</div>
								</div>
								<!-- Last Name Field -->
								<div class="form-group">
									<label class="form-label" for="id_last_name">
										Last Name:
									</label>
									<div class="edit_profile-fields">
										{{ user_form.last_name }}
									</div>
								</div>
								<!-- Email Field -->
								<div class="form-group">
									<label class="form-label" for="id_email">
										Email:
									</label>
									<div class="edit_profile-fields">
										{{ user_form.email }}
									</div>
								</div>
								<!-- Username Field -->
								<div class="form-group">
									<label class="form-label" for="id_username">
										Username:
									</label>
									<div class="edit_profile-fields">
										{{ user_form.username }}
									</div>
								</div>
								<!-- Submit Button -->
								<div class="form-button-container">
									<button type="submit" class="green-button">
										Update
									</button>
								</div>
							</form>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>

	<script src="{% static 'js/file_size.js' %}"></script>
{% endblock %}