{% load static %}
{% load tz %}

{% block extra_css %}
	<link href="{% static 'css/footer.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
    <footer class="footer">
        <div class="footer-left">
            &copy;{% now "Y" %} Author: Glenn Johansson
        </div>
        <div class="footer-center">
        </div>
        <div class="footer-right">
            <a class="contact" href="mailto:glenncoding@gmail.com"></a>
            <a class="twitter" href="https://twitter.com"> </a>
            <a class="facebook" href="https://facebook.com"> </a>
            <a class="linkedin" href="https://linkedin.com"> </a>
        </div>
    </footer>
{% endblock %}
