{% extends 'base.html' %}
{% load static %}

{% block title %} Postwall - Create a New Post {% endblock %}

{% block content %}
    <div class="brickwall">
        <div class="concrete">
            {% include 'alerts.html' %}
            <div class="stroke-1">
                <div class="post-header">Create a New Post</div>
                <div class="post-form-container">
                    <form method="POST" enctype="multipart/form-data" onsubmit="return validateFileSizeAndResize()">
                        {% csrf_token %}

                        <!-- Title Field -->
                        <div class="post-form">
                            <label for="id_title" class="form-label">Title:</label>
                            <input class="form-control" type="text" id="id_title" name="title"
                                placeholder="Title here..." value="{{ form.title.value|default:'' }}">
                        </div>

                        <!-- Content Field -->
                        <div class="post-form">
                            <label for="id_content" class="form-label">Content:</label>
                            <textarea class="form-control" id="id_content" name="content"
                                rows="5" placeholder="Content here...">{{ form.content.value|default:'' }}</textarea>
                        </div>

                        <!-- Image Field -->
                        <div class="post-form">
                            <label for="id_img" class="form-label">Max size: 13MB</label>
                             <input class="form-control"type="file" id="fileInput" name="img" accept="image/*" onchange="return validateFileSizeAndResize()">
                            <p id="fileSize"></p>
                        </div>

                        <!-- Submit Button -->
                        <div class="post-button-container">
                            <button type="submit" class="green-button">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/file_size.js' %}"></script>
{% endblock %}
