{% extends 'base.html' %}
{% load static %}
{% block title %} Wall - Register {% endblock %}
{% block content %}
    <div class="brickwall">
        <div class="concrete">
            <div class="stroke-3">
                <div class="register-container">
                    <div class="form-title">Register</div>
                    <!-- Include alerts for error/success messages -->
                    {% include 'alerts.html' %}
                    <form class="register-form" action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <!-- First Name Field -->
                        <div class="form-group">
                            <label class="form-label" for="id_first_name">First Name:</label>
                            {{ form.first_name }}
                        </div>
                        <!-- Last Name Field -->
                        <div class="form-group">
                            <label class="form-label" for="id_last_name">Last Name:</label>
                            {{ form.last_name }}
                        </div>
                        <!-- Email Field -->
                        <div class="form-group">
                            <label class="form-label" for="id_email">Email:</label>
                            {{ form.email }}
                        </div>
                        <!-- Username Field -->
                        <div class="form-group">
                            <label class="form-label" for="id_username">Username:</label>
                            {{ form.username }}
                        </div>
                        <!-- Password Field -->
                        <div class="form-group">
                            <label class="form-label" for="id_password">Password:</label>
                            {{ form.password }}
                        </div>
                        <!-- Confirm Password Field -->
                        <div class="form-group">
                            <label class="form-label" for="id_confirm_password">Confirm Password:</label>
                            {{ form.confirm_password }}
                        </div>
                        <!-- Submit Button -->
                        <div class="form-button-container">
                            <button type="submit" class="button-1" aria-label="Submit registration form">
                                Submit
                            </button>
                        </div>
                        <!-- Displaying form errors -->
                        {{ form.email.errors }}
                        {{ form.non_field_errors }}

                        <!-- Link to Login if the user already has an account -->
                        <div class="account-container">
                            <a class="account" href="{% url 'login' %}">Have an Account? Login Here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}