{% extends 'base.html' %}
{% block content %}
<div class="brickwall">
	<div class="concrete">
		<div class="leather">

			<!-- Include alerts for error/success messages -->
			{% include 'alerts.html' %}
			<div class="form-title">Dont remember your password?</div>

				<!-- Action for password reset -->
				<form action="{% url 'request_password_reset' %}" method="POST">
					{% csrf_token %}
					<div class="form-group">
						<p class="reset_password_guide">
							1. Enter Your Email Address.
							<br/>2. Click on the "Submit" Button below.
							<br/>3. Click on the link in the email we have sent to you.
						</p>
						<input type="email" id="id_email" name="email" class="form-control" required placeholder="Enter your email"/>
					</div>
					<div class="form-button-container">
						<button type="submit" class="button-1">Submit</button>
					</div>
				</form>
			</div>
		</div>

		<!-- If not registered -->
		<div class="account-container">Don't have an Account?
			<a class="account" href="{% url 'register' %}"> Register Here</a>
		</div>
	</div>
</div>
{% endblock %}
