/* Navbar */
.navbar {
	box-sizing: border-box;
	max-width: 1200px;
	width: 100%;
	position: fixed;
	z-index: 1000;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.navbar-nav {
	flex-direction: row;
	display: flex;
	align-items: center;
}

/* Navbar Brand */
.navbar-brand {
	padding: 0 5px;
	display: flex;
	border-radius: 5px;
	align-items: center;
	outline: none;
	position: relative;
	z-index: 1000;
	font-family: "Cocogoose-Condensed-Letterpress-trial", "Sans-Serif";
	color: #fff;
	background-color: #3a3939;
	text-shadow: -3px -1px 0px #e44c9f;
	box-shadow: 2px 2px 0px 0px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

/* Navbar Brand: Hover, Focus, Active state */
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand.active {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	box-shadow: 0px 0px 1px #0c0c0c;
	transform: translateY(2px);
}

/* Navbar Links */
.nav-link {
	font-family: "Cocogoose-Condensed-letterpress-trial", "Sans-Serif";
	border-radius: 0;
	outline: none;
	position: relative;
	z-index: 1000;
	color: #fff;
	background-color: #3a3939;
	box-shadow: 2px 2px 0px 0px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
	padding: 0 15px;
	white-space: nowrap;
	display: inline-flex;
	align-items: center;
}

/* Navbar Links: Hover, Focus, Active state */
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	box-shadow:	inset -10px 0px 5px -5px rgba(0, 0, 0, 0.5),
		inset 10px 0px 5px -5px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Navbar Input Group*/
.input-group {
	justify-content: center;
	display: flex;
	align-items: center;
}

/* First child:Rounded left corners */
.nav-item:first-child .nav-link {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

/* First child:Hover & Active state, Right inward shadow */
.nav-item:first-child .nav-link:hover,
.nav-item:first-child .nav-link.active {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	box-shadow: inset -10px 0px 5px -5px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Last child:Rounded right corners */
.nav-item:last-child .nav-link {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: flex; 			/* Style for Profile Img within item */
	align-items: center; 	/* Style for Profile Img within item */
	overflow: hidden; 		/* Style for Profile Img within item */
	box-sizing: border-box; /* Style for Profile Img within item */
}

/* Last child:Hover & Active state, Left inward shadow */
.nav-item:last-child .nav-link:hover,
.nav-item:last-child .nav-link:focus,
.nav-item:last-child .nav-link.active {
	color: #01f16d;
	background-color: #3a3939;
	box-shadow: inset 10px 0px 5px -5px rgba(0, 0, 0, 0.5) !important;
	transform: translateY(2px);
}

/* CSS for profile image in Profile item (last-child) */
.profile-image {
	width: 30px;
	height: auto;
}

.dropdown-menu {
	font-family: "Asap-Bold";
	background-clip: padding-box;
    box-shadow: 0px 0px 3px #01f16d;
}

/* Styles for search content */
.search-input {
	font-family: "Asap-Bold", "Sans-Serif";
	display: flex;
	position: relative;
	z-index: 1;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background-color: #3a3939;
	box-shadow: 2px 2px 0px 0px#E44C9F;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.search-input:hover,
.search-input:focus {
	background-color: #FFF;
	box-shadow: 0px 0px 3px #01f16d;
	transform: translateY(2px);
}

.search-input::placeholder {
	font-family: "Cocogoose-Condensed-letterpress-trial", "Sans-Serif";
	color: #FFF;
}

/* Suggestions container for search results */
.suggestions {
	margin: 2px 0 5px;
	font-family: "Asap-Bold";
	z-index: 1000;
    overflow-y: auto;
	border-radius: 5px!important;
    background-color: #FFF;
	background-clip: padding-box;
    box-shadow: 0px 0px 3px #01f16d;
}

/* One suggested result */
.suggestion {
	padding: 0 13px;
	cursor: pointer;
}

.suggestion:hover {
    background-color: #bebebe;
}

/* Link styles */
.suggestion a {
    text-decoration: none; /* Remove underline */
    color: #000; /* Text color */
}

.search-btn {
	padding: 10px;
	align-items: center;
	line-height: 60px;
	height: 60px;
	display: flex;
	position: relative;
	z-index: 1;
	border-top-right-radius: 5px!important;
	border-bottom-right-radius: 5px!important;
	color: #fff;
	background-color: #3a3939;
	box-shadow: 2px 2px 0px 0px #e44c9f;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.search-btn:hover,
.search-btn:focus {
	color: #01f16d;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #fff;
	box-shadow: inset 10px 0px 5px -5px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Toggler - Small & Medium Screens */
.navbar-toggler {
	width: 80px;
	position: relative; /* Needed to center image */
	display: flex;
	z-index: 1050;
	border: none;
	border-radius: 5px;
	color: #fff;
	background-color: #3a3939;
	text-shadow: -3px -1px 0px #e44c9f;
	box-shadow: 1px 2px 0px 0px#E44C9F;
	transition: box-shadow 0.2s ease, transform 0.2s ease;
}

/* Toggler - Hover & Focus */
.navbar-toggler:hover,
.navbar-toggler:focus {
	color: #fff;
	background-color: #3a3939;
	text-shadow: 0px 0px 10px #01f16d;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	transform: translateY(2px);
}

/* Profile image within toggler button */
.profile-image-toggler {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline;
}

/* Hide profile image in dropdown on small screens */
.profile-image-dropdown {
	display: none;
}

/* Responsive settings - Small Screens */
@media (max-width: 768px) {
	.navbar {
		height: auto;
	}

	.navbar-collapse {
		flex-direction: column;
		width: 100%;
	}

	.navbar-toggler[aria-expanded="true"] + .navbar-nav {
		display: flex;
		overflow-y: auto;
	}

	.navbar-toggler {
		display: block;
		position: relative;
		font-size: 14px;
		height: 40px;
		line-height: 40px;
	}

	.profile-image-toggler {
		display: inline;
		width: auto;
		height: 40px;
		line-height: 40px;
	}

	.navbar-nav {
		display: flex;
		flex-direction: row;
	}

	.navbar-brand {
		font-size: 30px;
		height: 40px;
		line-height: 40px;
	}

	.search-input,
	.search-btn {
		height: 34px;
		line-height: 34px;
		max-width: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 16px;
	}

	.search-input::placeholder {
		font-size: 18px;
	}

	.suggestions {
		position: relative; /* Push nav links down */
		top: calc(100% + 45px);
    	left: 0;
    	width: 100%; /* Take full width of the input incl. button */
		font-size: 16px;
	}

	.nav-link {
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 5px;
		box-sizing: border-box;
		font-size: 20px;
		height: 40px;
		line-height: 40px;
	}

	.nav-item {
		flex: 1;
		display: flex;
		height: 40px;
		line-height: 40px;
	}

	.nav-item:last-child .nav-link {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.dropdown-menu {
		position: absolute!important;
		min-width: auto!important;
	}

	.dropdown-item {
		font-size: 16px;
		line-height: 16px;
	}

	.d-none {
		display: none;
	}
}

/* Responsive Settings - Medium Screens */
@media (min-width: 769px) and (max-width: 1200px) {
	.navbar {
		height: auto;
	}

	.navbar-collapse {
		flex-direction: column;
		width: 100%;
	}

	.navbar-toggler[aria-expanded="true"] + .navbar-nav {
		display: flex;
		overflow-y: auto;
	}

	.navbar-toggler {
		display: block;
		position: relative;
		font-size: 14px;
		height: 50px;
		line-height: 50px;
	}

	.profile-image-toggler {
		display: inline;
		width: auto;
		height: 50px;
		line-height: 50px;
	}

	.navbar-nav {
		display: flex;
		flex-direction: row;
	}

	.navbar-brand {
		font-size: 40px;
		height: 50px;
		line-height: 50px;
	}

	.search-input,
	.search-btn {
		height: 40px;
		line-height: 40px;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 18px;
	}

	.search-input::placeholder {
		font-size: 22px;
	}

	.suggestions {
		position: relative;
		top: calc(100% + 45px);
    	left: 0;
    	width: 100%;
		font-size: 18px;
	}

	.nav-link {
		display: block;
		width: 100%;
		text-align: center;
		padding-bottom: 5px;
		box-sizing: border-box;
		font-size: 26px;
		height: 40px;
		line-height: 40px;
	}

	.nav-item {
		flex: 1;
		display: flex;
		height: 50px;
		line-height: 50px;
	}

	.nav-item:last-child .nav-link {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.dropdown-menu {
		position: absolute!important;
		min-width: auto!important;
	}

	.dropdown-item {
		font-size: 16px;
		line-height: 16px;
	}

	.d-none {
		display: none;
	}
}

/* Responsive Settings - Large Screens */
@media (min-width: 1201px) {
	.navbar {
		height: auto;
	}

	.navbar-brand {
		font-size: 50px;
		height: 60px;
		line-height: 60px;
	}

	.search-input,
	.search-btn {
		height: 60px;
		line-height: 60px;
		max-width: 65%;
		font-size: 20px;
	}

	.search-input::placeholder {
		font-size: 26px;
	}

	.suggestions {
		position: absolute;
		top: calc(100% + 7px);
    	left: 14%;
    	width: 65%;
		font-size: 20px;
	}

	.nav-link,
	.nav-item,
	.navbar-toggler {
		height: 60px;
		line-height: 60px;
	}

	.nav-link {
		height: 60px;
		line-height: 60px;
		font-size: 26px;
	}

	.profile-image {
		width: auto;
		height: 60px;
		object-fit: cover;
	}

	.dropdown-menu {
		position: absolute !important;
		min-width: auto !important;
	}

	/* Profile link - Dropdown style */
	.dropdown-item {
		font-size: 18px;
		line-height: 18px;
	}
}